*{
    /* Universal selector to reset margin and padding */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure that img's width remain set 100%*/
img {
    width: 100%;
}

body{
    /* Body style */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 100px;
    padding: 0;
    width: 100%;
}
/* Navbar CSS Start */


.header{
    /* Positioning and style for the Navbar */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(57, 161, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logohead{ 
    /* The style for 'Kaitiakitanga' on the Navbar */
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logopgrph{
    /* The style for the words underneath 'Kaitiakitanga' on the Navbar  */
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 50;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar a{
    /* The style for the links on the Navbar */
    font-size: 25px;
    color: rgb(254, 251, 251);
    font-weight: 500;
    margin-left: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo{
    /* Positioning of the Logo image */
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}


.LogoImg{
    /* The style for the logo image (Height and Width) */
    height: 76px;
    width: 76px;
    border-radius: 20px;
}


.logoText{
    /* Positioning of the 'logopgrh' & 'logohead'  */
    display: flex;
    flex-direction: column;
}

/* Navbar CSS End */


/* Hero Image/Text CSS Start */

.hero-image{
    /* Image style for hero image */
    background-image: url("../Images/PlasticPollution1.jpg");
    height: 400px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    /* Text style for hero text */
    color: rgb(0, 0, 0);
    background-color: white;
    position: absolute;
    top: 275px;
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Hero Image/Text CSS End */


/* Two column CSS Start */

.two-column{
    /* Two column layout for the information section */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

 .infoHeader{
    /* Header style for the information section */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 2em;
}

.infoParagraph{
    /* Paragraph style for the information section */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.image-section {
    /* Image section style for the two column layout */
    width: 100%;
    height: auto;
    margin-top: 67px;
}

/* Two column CSS End */